PORT=3000
PUBLIC_API_URL=...
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mydb

QSTASH_TOKEN=...
QSTASH_CURRENT_SIGNING_KEY=...
QSTASH_NEXT_SIGNING_KEY=...

UPSTASH_REDIS_REST_URL=...
UPSTASH_REDIS_REST_TOKEN=...
